imgs/thumbs.db
backup/
data/IMN-textfiles

NET/

js/load-task-list.js
js/rop-app.js
js/str-app.js
js/print-pdf.js
js/route-app.js
js/route-to-mobile.js

duplicates.html
sxsw.html
NET_dashboard.html
route_dev.html